.friend {
  border: 3px solid green;
  background-color: rgb(153, 255, 153);
  color: green;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
}
